name: Deploy to k3s

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  packages: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Docker
      uses: docker/setup-buildx-action@v2
    - name: Log in to GHCR
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push Docker image
      run: |
        docker build -t ghcr.io/petelinmn/go-api:${GITHUB_SHA} .
        docker push ghcr.io/petelinmn/go-api:${GITHUB_SHA}
    - name: Update k8s deployment
      run: |
        sed -i "s|ghcr.io/petelinmn/go-api:.*|ghcr.io/petelinmn/go-api:${GITHUB_SHA}|g" k8s/deployment.yaml
        kubectl apply -f k8s/